* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* body */

  body {
    background-color: #F2E6BE;
  }

  .container {
    text-align: center;
  }

  #title {
    padding-top: 30px;
  }

  /* map */

  .i4ewOd-pzNkMb-haAclf {
    display: none !important;
  }

  #map {
    border: none;
    margin-top: 10px;
  }

  /* table */
    
  table {
    position: relative;
    text-align: center;
    align-items: center;
    border-collapse: collapse;
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 15px;
    margin-bottom: 50px;
  }  

  td, th {
    border: 1px solid black;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #cac0a0;
  }

  #ingTable td:nth-child(even) {
    text-transform: uppercase;
  }

  #myInput {
    margin-top: 10px;
    display: inline-block;
    border: 2px solid #DF3F3F;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    padding: 5px 10px;
    text-align: center;
  }

  #menuTable {
    text-align: center;
  }

  #ingTable {
    text-align: left;
  }

  /* header */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #DF3F3F;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #F2E6BE;
    text-decoration: underline;
  }
  
  .cta {
    padding: 9px 25px;
    background-color: #FFD140;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
    color: #DF3F3F;
  }
  
  .cta:hover {
    background-color: #F2E6BE;
    text-decoration: underline;
  }

  /* Mobile Nav */
  
  .menu {
    display: none;
    color: white;
    cursor: pointer;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #CD4C45;
    color: white;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #FFD140;
    cursor: pointer;
  }

  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }
  
 